PrestigeClient_WinForms/Connected Services/PrestigeService_Client/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrestigeHost.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checks" nillable="true" type="tns:ArrayOfCheck" />
      <xs:element minOccurs="0" name="CodeProduct" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="WarehouseWorkers" nillable="true" type="tns:ArrayOfWarehouseWorker" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Check" nillable="true" type="tns:Check" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheck" nillable="true" type="tns:ArrayOfCheck" />
  <xs:complexType name="Check">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cashier" nillable="true" type="tns:Cashier" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="DatePurchase" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSumm" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_cashier" type="xs:int" />
      <xs:element minOccurs="0" name="id_client" type="xs:int" />
      <xs:element minOccurs="0" name="id_product" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Check" nillable="true" type="tns:Check" />
  <xs:complexType name="Cashier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checks" nillable="true" type="tns:ArrayOfCheck" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberCashbox" type="xs:int" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_post" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cashier" nillable="true" type="tns:Cashier" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cashiers" nillable="true" type="tns:ArrayOfCashier" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypePost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseWorkers" nillable="true" type="tns:ArrayOfWarehouseWorker" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ArrayOfCashier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cashier" nillable="true" type="tns:Cashier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashier" nillable="true" type="tns:ArrayOfCashier" />
  <xs:complexType name="ArrayOfWarehouseWorker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseWorker" nillable="true" type="tns:WarehouseWorker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseWorker" nillable="true" type="tns:ArrayOfWarehouseWorker" />
  <xs:complexType name="WarehouseWorker">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReceipt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateSale" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_post" type="xs:int" />
      <xs:element minOccurs="0" name="id_product" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseWorker" nillable="true" type="tns:WarehouseWorker" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Checks" nillable="true" type="tns:ArrayOfCheck" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberCard" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>