PrestigeClient_WinForms/Connected Services/PrestigeServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductProxy" nillable="true" type="tns:ProductProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductProxy" nillable="true" type="tns:ArrayOfProductProxy" />
  <xs:complexType name="ProductProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="BestBefore" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CodeProduct" type="xs:int" />
      <xs:element minOccurs="0" name="Composition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfManufacture" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Categories" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Manufacturer" type="xs:int" />
      <xs:element minOccurs="0" name="NameProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductProxy" nillable="true" type="tns:ProductProxy" />
  <xs:complexType name="ArrayOfCategoriesProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriesProxy" nillable="true" type="tns:CategoriesProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriesProxy" nillable="true" type="tns:ArrayOfCategoriesProxy" />
  <xs:complexType name="CategoriesProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriesProxy" nillable="true" type="tns:CategoriesProxy" />
  <xs:complexType name="ArrayOfManufacturersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManufacturersProxy" nillable="true" type="tns:ManufacturersProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturersProxy" nillable="true" type="tns:ArrayOfManufacturersProxy" />
  <xs:complexType name="ManufacturersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Manufactured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManufacturersProxy" nillable="true" type="tns:ManufacturersProxy" />
  <xs:complexType name="ArrayOfChecksProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChecksProxy" nillable="true" type="tns:ChecksProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChecksProxy" nillable="true" type="tns:ArrayOfChecksProxy" />
  <xs:complexType name="ChecksProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cashiers" nillable="true" type="tns:CashiersProxy" />
      <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ClientsProxy" />
      <xs:element minOccurs="0" name="DatePurchase" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ProductProxy" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSumm" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_cashier" type="xs:int" />
      <xs:element minOccurs="0" name="id_client" type="xs:int" />
      <xs:element minOccurs="0" name="id_product" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChecksProxy" nillable="true" type="tns:ChecksProxy" />
  <xs:complexType name="CashiersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateBeginWork" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:PostsProxy" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_post" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashiersProxy" nillable="true" type="tns:CashiersProxy" />
  <xs:complexType name="PostsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypePost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostsProxy" nillable="true" type="tns:PostsProxy" />
  <xs:complexType name="ClientsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cash" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberCard" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientsProxy" nillable="true" type="tns:ClientsProxy" />
  <xs:complexType name="ArrayOfPostsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostsProxy" nillable="true" type="tns:PostsProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostsProxy" nillable="true" type="tns:ArrayOfPostsProxy" />
  <xs:complexType name="ArrayOfClientsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientsProxy" nillable="true" type="tns:ClientsProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientsProxy" nillable="true" type="tns:ArrayOfClientsProxy" />
  <xs:complexType name="ArrayOfCashiersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashiersProxy" nillable="true" type="tns:CashiersProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashiersProxy" nillable="true" type="tns:ArrayOfCashiersProxy" />
  <xs:complexType name="ArrayOfAdminsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminsProxy" nillable="true" type="tns:AdminsProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminsProxy" nillable="true" type="tns:ArrayOfAdminsProxy" />
  <xs:complexType name="AdminsProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:PostsProxy" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_post" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminsProxy" nillable="true" type="tns:AdminsProxy" />
  <xs:complexType name="ArrayOfWarehouseWorkersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseWorkersProxy" nillable="true" type="tns:WarehouseWorkersProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseWorkersProxy" nillable="true" type="tns:ArrayOfWarehouseWorkersProxy" />
  <xs:complexType name="WarehouseWorkersProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateBeginWork" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:PostsProxy" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_post" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseWorkersProxy" nillable="true" type="tns:WarehouseWorkersProxy" />
</xs:schema>