PrestigeClient_WinForms/Connected Services/PrestigeServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" />
  <xs:import schemaLocation="http://localhost:12345/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" />
  <xs:element name="Autorizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type_post" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutorizationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="ShowAllProductResult" nillable="true" type="q1:ArrayOfProductProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q2:ArrayOfCategoriesProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetManufacturersResult" nillable="true" type="q3:ArrayOfManufacturersProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChecksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetChecksResult" nillable="true" type="q4:ArrayOfChecksProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetPostsResult" nillable="true" type="q5:ArrayOfPostsProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetClientsResult" nillable="true" type="q6:ArrayOfClientsProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetCashiersResult" nillable="true" type="q7:ArrayOfCashiersProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetAdminsResult" nillable="true" type="q8:ArrayOfAdminsProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" minOccurs="0" name="GetWarehouseWorkersResult" nillable="true" type="q9:ArrayOfWarehouseWorkersProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCashiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_cashiers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCashiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCashiersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_product" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWarehouseWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_wareWork" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWarehouseWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWarehouseWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="post" nillable="true" type="q10:Posts" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="cashiers" nillable="true" type="q11:Cashiers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCashiersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseWorkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="post" nillable="true" type="q12:Posts" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="wareWorks" nillable="true" type="q13:WarehouseWorkers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWarehouseWorkersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="clients" nillable="true" type="q14:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToChecks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="checks" nillable="true" type="q15:Checks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToChecksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" minOccurs="0" name="products" nillable="true" type="q16:Products" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>