PrestigeClient_WinForms/Connected Services/PrestigeServiceReference/PrestigeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrestigeServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPrestigeServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12345/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12345/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12345/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Host" />
      <xsd:import schemaLocation="http://localhost:12345/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PrestigeHost.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrestigeServices_Autorizations_InputMessage">
    <wsdl:part name="parameters" element="tns:Autorizations" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_Autorizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_ShowAllProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllProduct" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_ShowAllProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetChecks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChecks" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetChecks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChecksResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetCashiers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCashiers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetCashiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCashiersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmins" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetWarehouseWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseWorkers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_GetWarehouseWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteCashiers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCashiers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteCashiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCashiersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteWarehouseWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWarehouseWork" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_DeleteWarehouseWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWarehouseWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddCashiers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCashiers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddCashiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCashiersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddWarehouseWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouseWorkers" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddWarehouseWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouseWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddClients_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClients" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddToChecks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToChecks" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddToChecks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToChecksResponse" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducts" />
  </wsdl:message>
  <wsdl:message name="IPrestigeServices_AddProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrestigeServices">
    <wsdl:operation name="Autorizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/Autorizations" message="tns:IPrestigeServices_Autorizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AutorizationsResponse" message="tns:IPrestigeServices_Autorizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/ShowAllProduct" message="tns:IPrestigeServices_ShowAllProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/ShowAllProductResponse" message="tns:IPrestigeServices_ShowAllProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetCategories" message="tns:IPrestigeServices_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetCategoriesResponse" message="tns:IPrestigeServices_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetManufacturers" message="tns:IPrestigeServices_GetManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetManufacturersResponse" message="tns:IPrestigeServices_GetManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChecks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetChecks" message="tns:IPrestigeServices_GetChecks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetChecksResponse" message="tns:IPrestigeServices_GetChecks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetPosts" message="tns:IPrestigeServices_GetPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetPostsResponse" message="tns:IPrestigeServices_GetPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetClients" message="tns:IPrestigeServices_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetClientsResponse" message="tns:IPrestigeServices_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCashiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetCashiers" message="tns:IPrestigeServices_GetCashiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetCashiersResponse" message="tns:IPrestigeServices_GetCashiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetAdmins" message="tns:IPrestigeServices_GetAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetAdminsResponse" message="tns:IPrestigeServices_GetAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/GetWarehouseWorkers" message="tns:IPrestigeServices_GetWarehouseWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/GetWarehouseWorkersResponse" message="tns:IPrestigeServices_GetWarehouseWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCashiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteCashiers" message="tns:IPrestigeServices_DeleteCashiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteCashiersResponse" message="tns:IPrestigeServices_DeleteCashiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteProduct" message="tns:IPrestigeServices_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteProductResponse" message="tns:IPrestigeServices_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWarehouseWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteWarehouseWork" message="tns:IPrestigeServices_DeleteWarehouseWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/DeleteWarehouseWorkResponse" message="tns:IPrestigeServices_DeleteWarehouseWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCashiers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/AddCashiers" message="tns:IPrestigeServices_AddCashiers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AddCashiersResponse" message="tns:IPrestigeServices_AddCashiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWarehouseWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/AddWarehouseWorkers" message="tns:IPrestigeServices_AddWarehouseWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AddWarehouseWorkersResponse" message="tns:IPrestigeServices_AddWarehouseWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/AddClients" message="tns:IPrestigeServices_AddClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AddClientsResponse" message="tns:IPrestigeServices_AddClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToChecks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/AddToChecks" message="tns:IPrestigeServices_AddToChecks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AddToChecksResponse" message="tns:IPrestigeServices_AddToChecks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrestigeServices/AddProducts" message="tns:IPrestigeServices_AddProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrestigeServices/AddProductsResponse" message="tns:IPrestigeServices_AddProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrestigeServices" type="tns:IPrestigeServices">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPrestigeServices_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autorizations">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/Autorizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllProduct">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/ShowAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChecks">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPosts">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashiers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetCashiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseWorkers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/GetWarehouseWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCashiers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/DeleteCashiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWarehouseWork">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/DeleteWarehouseWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCashiers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/AddCashiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouseWorkers">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/AddWarehouseWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClients">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/AddClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToChecks">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/AddToChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <soap:operation soapAction="http://tempuri.org/IPrestigeServices/AddProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrestigeServices">
    <wsdl:port name="BasicHttpBinding_IPrestigeServices" binding="tns:BasicHttpBinding_IPrestigeServices">
      <soap:address location="http://localhost:12345/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>